<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-dark primary-color-dark mb-3" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Navbar</a>
  </mdb-navbar-brand>
</mdb-navbar>
<!--/.Navbar-->


<div class="container">
  <!-- Content here -->

  <!-- Sign In -->
  <form [formGroup]="loginForm" (submit)="cekLogin()" class="text-center border border-light p-5 wow zoomIn" *ngIf="isSignIn == 1">
    <p class="h4 mb-4">Sign in</p>
  
    <!-- Username -->
    <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username" formControlName="username">
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password">
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" mdbWavesEffect><ngx-spinner size="small" type="line-scale-pulse-out"></ngx-spinner> Sign in</button>
    
    <!-- Register -->
    <p>Not a member?
      <span class="blue-text" (click)="setIsSignIn(0)">Register</span>
    </p>  
  </form>

  <!-- Register -->
  <form [formGroup]="registerForm" (submit)="register()" class="text-center border border-light p-5 wow zoomIn" *ngIf="isSignIn == 0">
    <p class="h4 mb-4">Sign up</p>

    <!-- Username -->
    <input type="text" id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="Username" formControlName="username">
    <!-- Name -->
    <input type="text" id="defaultRegisterFormFirstName" class="form-control mb-4" placeholder="Name" formControlName="nama_user">
    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" mdbWavesEffect><ngx-spinner size="small" type="line-scale-pulse-out"></ngx-spinner> Sign up</button>
    <!-- Back button -->
    <button mdbBtn color="warning" block="true" class="my-4" type="button" (click)="setIsSignIn(1); registerForm.reset()">Back</button>

  </form>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue mt-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> Alat </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->