<app-navigation></app-navigation>

<div class="container-fluid">

  <blockquote class="blockquote bq-info">
    <p class="bq-title"><i class="fa fa-gear prefix mr-1"></i> Setting</p>
  </blockquote>  

  <div class="row ld-over" [ngClass]="{'running':loadingDataDeviceSelect}">
    <div class=" ld ld-loader" style="background-image:url(../../src/assets/gif/DoubleRing.gif); font-size:5em;"></div>
    <div class="col" [ngClass]="{'d-none':loadingDataDeviceSelect}">
      <label>Select : </label>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <select #selectOwnerDevice class="browser-default custom-select mb-3" (change)="getDataDeviceForSelect(selectOwnerDevice.value)">
            <option value="1" selected>My Device</option>
            <option value="2">Device Shared With Me</option>
          </select>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <select #selectIdDevice class="browser-default custom-select mb-4" (change)="getDataDevice(selectIdDevice.value)">
            <option value="0" selected>---</option>
            <option *ngFor="let data of dataDeviceForSelect.data; let i = index" value="{{data.id_alat}}">{{data.nama_alat}}</option>
          </select>    
        </div>
      </div>    
    </div>
  </div>

  <div class="ld-over" style="min-height: 200px;" [ngClass]="{'running':loadingdataDevice}" *ngIf="stateStatusSelect != 0 && !isShareDevice">
    <div class="row wow zoomIn">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 d-block mx-auto mb-2">
        <form [formGroup]="deviceForm" class="mt-3 border border-light p-3" (submit)="saveFormDevice()">
          <p class="h5 text-center mt-3 mb-2"><i class="fa fa-gears prefix"></i> Form Setting {{dataDevice.nama_alat}}</p>
          <div class="row">
            <div class="col-11">
              <div class="md-form form-sm">
                <i class="fa fa-pencil-square-o prefix"></i>
                <input mdbInputDirective type="text" id="deviceName" class="form-control form-control-sm" data-error="required" data-success="-" [value]="dataDevice.nama_alat" formControlName="nama_alat">
                <label for="deviceName" class="">Device Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-9">
              <div class="24hr-example pt-2">
                <div class="md-form">
                  <i class="fa fa-clock-o prefix"></i>
                  <input mdbInputDirective type="text" id="timeon" class="form-control" placeholder="24hr format" data-error="required" data-success="-" aria-label="24hr format" [ngxTimepicker]="fullTimeOn" [format]="24" [value]="dataDevice.waktu_on" formControlName="waktu_on" readonly>
                  <label for="timeon">Time On</label>
                </div>
                <ngx-material-timepicker #fullTimeOn></ngx-material-timepicker>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <mat-slide-toggle 
                [color]="'primary'"
                [checked]="selectStatusTimeOn"
                class="pt-5" formControlName="is_on">
                <div *ngIf="deviceForm.value.is_on">ON</div>
                <div *ngIf="!deviceForm.value.is_on">OFF</div>
              </mat-slide-toggle>
            </div>
          </div>

          <div class="row">
            <div class="col-8 col-sm-9">
              <div class="24hr-example pt-2">
                <div class="md-form">
                  <i class="fa fa-clock-o prefix"></i>
                  <input mdbInputDirective type="text" id="timeoff" class="form-control" placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTimeOff" data-error="required" data-success="-" [format]="24" [value]="dataDevice.waktu_off" formControlName="waktu_off" readonly>
                  <label for="timeoff">Time Off</label>
                </div>
                <ngx-material-timepicker #fullTimeOff></ngx-material-timepicker>
              </div>
            </div>
            <div class="col-4 col-sm-3">
              <mat-slide-toggle 
                [color]="'primary'"
                [checked]="selectStatusTimeOff"
                class="pt-5" formControlName="is_off">
                <div *ngIf="deviceForm.value.is_off">ON</div>
                <div *ngIf="!deviceForm.value.is_off">OFF</div>
            </mat-slide-toggle>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="float-right mb-3 mr-4 mt-1">
                <button mdbBtn color="info" type="submit" mdbWavesEffect><i class="fa fa-save prefix mr-1"></i> Save</button>
                <button mdbBtn color="warning" type="button" (click)="resetFromDefault()" mdbWavesEffect><i class="fa fa-close prefix mr-1"></i> Cancel</button>                
              </div>

            </div>
          </div>
        </form>

      </div>
      <div class="col mt-2">
        <swal
          #deleteSwal
          title="Are you sure?"
          text="You won't be able to revert this!"
          type="question"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="deleteDeviceFromUser(dataDevice.id_user_alat, dataDevice.id_alat)">
        </swal>
        <button mdbBtn color="success" type="button" (click)="setIsShareDevice(true)" mdbWavesEffect><i class="fa fa-share-alt prefix mr-1"></i> Share This Device</button>
        <button mdbBtn color="danger" type="button" mdbWavesEffect [swal]="deleteSwal"><i class="fa fa-trash prefix mr-1"></i> Remove This Device</button>
      </div>

    </div>

  </div>

  <div class="row wow zoomIn" *ngIf="stateStatusSelect != 0 && isShareDevice">
    <div class="col">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mb-3">
          <form [formGroup]="shareDeviceForm" class="mt-3 border border-light p-3" (submit)="shareThisDevice()">
            <p class="h5 text-center mt-3 mb-2"><i class="fa fa-share-alt prefix"></i> Share Device</p>
            <div class="row">
              <div class="col-11">
                <div class="md-form form-sm">
                  <i class="fa fa-pencil-square-o prefix"></i>
                  <input mdbInputDirective type="text" id="shareDeviceName" class="form-control form-control-sm" data-error="required" data-success="-" [value]="dataDevice.nama_alat" formControlName="nama_alat" readonly>
                  <label for="shareDeviceName" class="">Device Name</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-11">
                <div class="md-form form-sm">
                  <i class="fa fa-pencil-square-o prefix"></i>
                  <input mdbInputDirective type="text" id="shareUsername" class="form-control form-control-sm" data-error="required" data-success="-" formControlName="username">
                  <label for="shareUsername" class="">Username</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button mdbBtn color="success" class="d-block mx-auto" type="submit" mdbWavesEffect><ngx-spinner size="small" type="line-scale-pulse-out"></ngx-spinner><i class="fa fa-share prefix mr-1"></i> Share</button>            
              </div>
            </div>
          </form>         
        </div>
        <div class="col-12 col-sm-12 col-md-6 ld-over mt-2" [ngClass]="{'running':loadingDataDeviceShared}">          
          <div class="ld ld-loader" style="background-image:url(../../src/assets/gif/DoubleRing.gif); font-size:5em;"></div>
          <div>
            <h3>
            Data Share
            </h3>
            <ngx-datatable
            class="material mb-4" 
            [rows]="dataShareDevice"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [limit]="5">
            <ngx-datatable-column name="Device">
              <ng-template let-column="column" ngx-datatable-header-template>
              {{ column.name }}
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.nama_alat }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Username">
              <ng-template let-column="column" ngx-datatable-header-template>
              {{ column.name }}
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.username }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" headerClass="text-center" cellClass="text-center">
              <ng-template let-column="column" ngx-datatable-header-template>
              {{ column.name }}
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="font-weight-bold red-text" *ngIf="row.is_confirm == 1">Delay</div>	
                <div class="font-weight-bold green-text" *ngIf="row.is_confirm == 0">Accepted</div>						
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" headerClass="text-center" cellClass="text-center">
              <ng-template let-column="column" ngx-datatable-header-template>
              {{ column.name }}
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>                
                <swal
                  #deleteFromShare
                  title="Are you sure?"
                  text="You won't be able to revert this!"
                  type="question"
                  [showCancelButton]="true"
                  [focusCancel]="true"
                  (confirm)="tes()">
                </swal>
                <div class="font-weight-bold red-text"><i class="fa fa-trash prefix p-2" [swal]="deleteFromShare" style="cursor: pointer;"></i></div>	
              </ng-template>
            </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mdbBtn color="warning" class="my-4 float-right" (click)="setIsShareDevice(false)" type="button" mdbWavesEffect>Back</button> 
        </div>
      </div>
    </div>
  </div>  

</div>
